<li>
	{{name}}

	<button class="change-status" data-id="{{id}}" data-newsleep="{{eaten}}">
		{{#if eaten}}Burger has been eaten!{{else}}You haven't eaten a burger!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>